[2016-10-22 08:03] spences10 opened #1 "Powershell script removal"
PS script does not get used in the latest set if enhancements as the .xlam blob is now saved to github

[2016-11-06 16:29] #1 closed

[2016-11-06 16:30] spences10 commented on #1
Will be removed in the user enhancements branch is merged to master

[2017-01-11 04:35] mattpalermo opened #4 "Configuration is not portable"
The ImportFrom and ExportTo configuration uses absolute file paths. This makes the configuration not portable. The problem is that if I have a project directory with an Excel file and VBA source files which are imported to and exported from the Excel file then I cannot move the project directory without breaking the import/export configuration. I would like to keep the configuration with the proje

[2017-01-11 05:06] mattpalermo opened #5 "System global state is used for project specific actions"
The current method for building the files list is `Configure Export` then `Make File List`. The configure export asks the user questions about how the file list should be created, and then stores it in state which is used in any following calls to the `Make File List` action, no matter which project the File List is for. If the user calls the `Make File List` action without calling the `Configure

[2017-01-11 05:12] mattpalermo commented on #5
Just to add to the last paragraph, a down side of CodeExportFileList.conf is that it would not allow to have two CodeExportFileList.confs in one directory. This may not be too difficult to solve though.

[2017-01-11 06:20] spences10 commented on #5
Thanks for the Input @mattpalermo I am in the process of removing this functionality as it adds no value I was of the two options you suggested going with.

 - Have the Add-In only use one or the other.

The original set up was to have a module left behind listing out what needed to go back in to make up the project but I didn't like how this felt.

Soon after finishing the latest enhancements I r

[2017-01-11 06:24] spences10 commented on #4
The .conf file specifies the locations, this was going to be/intended to exporting to a specific location rather than the default which was the 'ThisWorkbook.Path' location previously.

[2017-01-11 08:16] mattpalermo commented on #5
That's good that you feel the same way. Actually, I am just about to push a commit which simplifies the situation. I hope we haven't both done the same thing :*)

[2017-01-11 08:17] mattpalermo commented on #4
That could be quite useful if it allowed for relative paths. I could imagine setting up my VBA source in a sub directory like ./src.

[2017-01-11 08:21] spences10 commented on #5
I think all I have managed was what's in the Dev branch 😌  I look forward to your PR 👍

[2017-01-11 08:24] mattpalermo commented on #5
Have a look at https://github.com/mattpalermo/VBA-IDE-Code-Export/tree/noconfig
I will update the README a little bit and then do a PR.

[2017-01-11 08:26] spences10 commented on #5
Got the PR thanks, my you have been busy 😁 I'll build it and feedback 👍 looks good from my mobile phone screen 🤓

[2017-01-11 10:08] mattpalermo opened #7 "When all VBA code is removed, library references are not saved"
I have found that library references don't persist when all the VBA code is removed. This could be annoying. Perhaps this tool can solve this problem by having a list of library references in the config file and then automatically inserting them when the code is imported. I would like to know what everyone thinks about this.

[2017-01-11 14:11] spences10 commented on #7
Top idea @mattpalermo! Go ahead if you want

[2017-01-11 18:34] mattpalermo commented on #7
Alright, I have done some research into the necessary API. Looks like [this function](https://msdn.microsoft.com/en-us/library/aa241517(v=vs.60).aspx) will do the trick. Seems easy except for dealing with the config file. Looks like we will need to store the GUID, major and minor values in the config file. I would also like to store the name and description of the reference along side the other va

[2017-01-11 18:53] spences10 commented on #7
As long as the potential user can use it as a pure VBA experience [i.e. no need to install any software] then I'm all in. The idea is that this can be used by small teams that may not have admin rights on their machines and need to go cap in hand to admin to get a dependency installed

[2017-01-11 21:49] mattpalermo commented on #7
The VBA-JSON library is just a VBA code module. I have been doing some more reading and realised that late binding is a much more robust and stable way of linking to external libraries. Sorry for all the fuss but I don't think I'll pursue this for now. Rather, I will try to implement late binding such that setting the library references is not needed.

[2017-01-11 22:48] spences10 commented on #7
:+1:

[2017-01-12 13:15] mattpalermo commented on #7
Update: Late binding doesn't work with the WithEvents keyword (used in the VBACmdHandler class). In this case, early binding is the only option. Additionally it seems that the general consensus is that the GUID of the extensibility library is fairly stable and there shouldn't be a problem with the portability of the reference. So I now see that there may be plenty of cases where early binding is t

[2017-01-13 16:35] mattpalermo commented on #4
Fixed by PR #6

[2017-01-13 16:35] mattpalermo commented on #5
Fixed by PR #6

[2017-01-13 16:56] mattpalermo commented on #7
Problem solved by #11

[2017-01-14 10:11] mattpalermo opened #12 "Allow debugging from the error handler"
Using an error handler such as the one used in the Import method is great for user experience. However it can be very painful for development since you cannot jump to the point in execution where the error was raised with the debugger. There is an elegant way to provide this convenience to the developer while still having a nice friendly error message to the user.

A solution is to put a small bit

[2017-01-14 10:20] mattpalermo opened #13 "Use of `Exit Sub` outside of "Finally" block"
The `Exit Sub` statement has been used outside of the "Finally" block (In this case it is labelled "exitSub") in at least one place in the code. The `Exit Sub` statement should be replaced by `Goto exitSub`. The code should be searched through for all uses of `Exit` and fix this.

The problem with using `Exit Sub` or `Exit Function` instead of `Goto exitSub` is that if in the future someone puts m

[2017-01-14 10:23] mattpalermo opened #14 "Add instructions to the README to enable VBA project model trust"
Need to add instructions to the Installation part of the README to enable VBA project model trust as described in this comment in the source code:

[code]

[2017-01-14 12:09] mattpalermo opened #15 "Add "BasePath" to the config"
Originally, the configuration contained two settings named "ImportFrom" and "ExportTo". These were removed when I fixed the problem of the configuration being not portable as described in #4. The objective of these settings was to allow importing and exporting from a directory other than the same directory as the Excel file. However the paths were given as absolute paths and this caused problems f

[2017-01-14 13:46] mattpalermo opened #16 "CustomUI injection"
Project files may modify the user interface ribbon by having a CustomUI.xml inside the project file (e.g. in the Excel add-in xlam). This CustomUI.xml cannot be edited inside Excel (as far as i know). Instead an xml file is usually injected into the Excel file. The CustomUI.xml can be somewhat generated in Excel by modifying the ribbon manually and then exporting the changes but it is not uncommon

[2017-01-14 13:56] spences10 commented on #12
Great 👍 I have no issues with this, I'll check later today.

[2017-01-14 14:02] mattpalermo opened #17 "Remove alert after import and export?"
I am not sure that the alert that appears after the import and export is successful is a good user experience. It is a very annoying experience to have to move your mouse point half way across the screen every time to dismiss the dialog. Although, I understand that confirmation feedback is a good thing for user experience.

Any thoughts?

[2017-01-14 14:07] spences10 commented on #16
I'll take a look at this later @mattpalermo

I have been thinking about taking the turn the binary I to a zip, extracting the files manipulate the XML then pack it back up and change the extension back to what it was previously.

You commented on my testing of adding excel XML that it's not a very human readable for diffing so I'm assuming you're aware of this method already.

[2017-01-14 14:39] mattpalermo commented on #16
Yes I have already played around with this idea before but I didn't find it useful. As I mentioned in my comment on one of your commits, the [OoXmlUnpack](https://bitbucket.org/htilabs/ooxmlunpack) tool does a really good job of this. If you want, have a play with it and see if you can discover something. But if you want to manipulate a OoXml file, it may be helpful to use a library such as the [O

[2017-01-14 15:11] mattpalermo commented on #16
It appears that the function that I found is not available in Excel and this may not be possible inside the VBA environment. The alternative is to either use existing methods or make a command line program that uses one of the libraries that I mentioned above to inject the CustomUI.xml into the Excel file.

http://stackoverflow.com/questions/16264003/is-there-an-alternative-to-projects-setcustomui

[2017-01-14 15:20] #16 closed

[2017-01-14 15:33] mattpalermo commented on #17
I made an experimental branch and removed the prompts to test out if this would be a better experience. Here is the branch: https://github.com/mattpalermo/VBA-IDE-Code-Export/tree/noprompts. I will use this personally for a while to make sure it is better before submitting a PR.

[2017-01-14 15:36] spences10 commented on #16
I'll take a look one day and use something like the in the comments I have made here:

[code]

[2017-01-16 10:15] spences10 commented on #17
I agree @mattpalermo and was thinking the same thing when I was doing the testing the other day, it adds nothing in the way of user experience as you can see visually whats happening in the IDE when you click the menu items.

Submit the PR when you're ready, I'll also merge the dev branch to master now.

`effoff` looks pretty interesting by the way :+1:

[2017-01-16 15:27] mattpalermo commented on #17
Submitted PR #18.

The merge sounds appropriate +1

Effoff: thank you I was happy that I managed to get something working in a day :) although I admit it is very unstable at the moment, it should still be useful as long as you don't do anything that it doesn't expect. Still have to take care of error handling, automated testing and of course it needs to be used. I would appreciate any issue that i

[2017-01-16 15:27] #17 closed

[2017-01-21 06:36] mattpalermo opened #20 "Only put sheets in the configuration if they are non-empty?"
When I generate a configuration I tend to delete the entries for the sheets which don't have any code in them. I think this is a good practice as it makes it easier to find code when it is exported since you don't have to go through lots of empty files. At the moment I am dealing with a project with a *lot* of sheets with no code in them.

So I have a feature request:

When the configuration is ge

[2017-01-21 06:46] mattpalermo opened #21 "Errors in Export() if References or Module Paths keys don't exist"
An unhandled error occurs in Export() if the properties "References" or "Module Paths" is not set in the Export() sub. I believe the correct way to deal with this is just like in the Import() sub.

[2017-01-21 07:12] mattpalermo opened #22 "New empty lines added to .frm file after import then export"
I am finding that a new line is added after the `Attribute` header each time I do a Import then Export cycle. I view the .frm file in a text editor and watch the file grow as I import then export over and over. Does anyone else suffer from this?

[2017-01-21 12:46] mattpalermo commented on #22
Related bug report:
https://answers.microsoft.com/en-us/msoffice/forum/msoffice_excel-mso_windows8/excel-vba-bug-importing-a-form-adds-a-newline-at/f8901ff1-68d1-40c5-b41d-4b87a0f9db8e

[2017-01-21 14:51] mattpalermo opened #27 "Prebuilt add-in"
A prebuilt add-in or xlsm would really help for those too lazy to build the add-in 😊 .
I think it would be most appropriate to use the Releases feature of github to distribute this.

[2017-01-21 14:58] mattpalermo opened #28 "Add-in installer"
An automated installer for the add-in would really help those who are too lazy to install their add-in 😊 .
Issue #27 may be a good first step before achieving this.

From my experience with setting up an installer for [EffOff](https://github.com/mattpalermo/effoff) it can be a bit of a headache. The [Inno installer](http://www.jrsoftware.org/isinfo.php) or the [WiX installer](http://wixtoolset.org

[2017-01-22 02:21] mattpalermo opened #29 "Error on Export if directory doesn't exist"
If you specify a path in the configuration file such as:

[code]

Then the directory `src` and `src\Awesome` must exist otherwise an unhandled error occurs.

[2017-01-22 03:19] mattpalermo opened #30 "Potential for data loss while exporting"
If an unhandled error occurs half way through exporting, then the user can be left in a situation that could result in data loss if they're not careful. The problem is that only some of the modules have been exported to the file system and have been deleted from the VBAProject. This leaves the user in a situation where they do not have a complete copy of their work in a single location. The export

[2017-01-22 04:26] mattpalermo opened #31 "VBAProject name doesn't persist if no VBA is present"
I believe a problem exists with the VBAProject name which is similar to the problem with references mentioned in issue #7.

I propose that there be a property in the configuration which specifies the VBAProject name and then on import, that name will be set. I don't think it is necessary to unset the VBAProject name on export.

A possible name for this configuration property: "VBAProject Name".

[2017-01-23 10:54] #13 closed

[2017-01-23 10:55] #14 closed

[2017-01-23 10:55] #20 closed

[2017-01-23 10:58] #21 closed

[2017-01-23 10:59] #12 closed

[2017-01-27 15:16] #29 closed

[2017-01-27 15:16] #15 closed

[2017-01-27 15:39] #31 closed

[2017-01-29 17:54] mattpalermo commented on #30
PR #39 improves the situation. Not sure if it fully solves it. I will have to think about it after some rest.

[2017-01-29 18:21] mattpalermo opened #41 "Documentation: Add release instructions"
Need to document the exact steps for a release so that releases are repeatable.

For the last release I did the following
* Build the Add-In workbook and Add-In
* Created a release through the Releases interface of GitHub. The version number follows [semantic versioning](http://semver.org) in the format "v1.2.3" and the release title follows the format "version 1.2.3".
* Uploaded the Add-In workbo

[2017-01-29 18:31] mattpalermo commented on #27
Implemented by release v0.1.0

[2017-01-29 18:31] #27 closed

[2017-01-30 14:11] spences10 commented on #41
No there's nothing in the code in the way of version numbers, I always found that if there isn't a build process that takes care of releases then incrementation gets left out and there then has to be a release to update the version number left from the last release, lol!

I'm not sure what CI tools we could use for the build of the vba-ide-code export tool, but agree that semantic versioning shoul

[2017-01-30 14:16] spences10 commented on #30
This has happened to me in the past, not by power cut but by dodgy code, my fix: close Excel don't save anything :smile:

I haven't really considered it until seeing this but think that what you have suggested should work, only clear out the workbook once all modules have been exported, if it fails mid way through then there's no issue as the code will still be in the workbook.

[2017-01-30 14:18] spences10 commented on #28
[Chocolatey](https://chocolatey.org/) :sunglasses:

Let me have a play around with this today, see if I can come up with something

[2017-01-30 14:38] spences10 commented on #22
Ok, something I have never noticed before, may have had it happen but never noticed really. This can be problematic for this situation though, maybe we could use some of the `CodeModule` functions?

Like the example here, a straight `copy pasta` from the `modImportExport.bas`

[code]

No, that's not going to work very well as you'd need to go through all the files

:thinking:

I'll come back on th

[2017-01-30 14:41] mattpalermo commented on #22
Argh, I must has glossed over that part at some point and left it out. Worth a try.

[2017-01-30 14:44] mattpalermo commented on #22
Oh, actually I withdraw that comment. It is still there https://github.com/spences10/VBA-IDE-Code-Export/blob/6eedda7a7b11e0525f80ceb742b2899b39a4c0fe/modImportExport.bas#L276

[2017-01-30 14:47] mattpalermo commented on #22
But yes, maybe there is a hack using CodeModule functions that we could conjure up to solve this problem.

[2017-01-30 14:59] spences10 commented on #7
Looks like this is still an issue, what was the reasoniong behind this again @mattpalermo

![image](https://cloud.githubusercontent.com/assets/234708/22427819/8423b716-e6fc-11e6-976c-981dae99e854.png)

Was it just to have a completely empty project?

[2017-01-30 15:05] spences10 commented on #22
Yeah, it's going to be some ugly `loop through all modules, check for whitespace` which will seem overkill but either that than have 15,000 empty lines at the start of your code I guess

I think the thing with this is that in the most part it's a straight import export with forms, why change it gah! Annoying!!

We have to do a whole new thing, to get around an annoying thing, thanks Microsoft

[2017-01-31 03:56] mattpalermo commented on #7
Ah yes. My reasoning for this is not clear. Initially there was the problem that when all the modules were removed, the references would be removed by Excel. The user would then have to re-add them manually. So, to fix this, I made it so that references will be automatically added from the configuration file when the import happened. For exporting, I thought it was good idea to remove the referenc

[2017-01-31 04:06] mattpalermo commented on #7
I see you have an error in this section. Could you show the references section of the configuration file you are using? It appears that Excel refuses to remove MSForms. If that is the case, then perhaps MSForms shouldn't have to be in the configuration file.

[2017-01-31 04:10] mattpalermo commented on #22
Yes. In the mean time, it can be fixed using a text editor. I usually try to check the `git diff` before committing and touch up the whitespace with a text editor if needed. I do this as a routine to remove trailing whitespace as well.

[2017-01-31 05:00] mattpalermo commented on #41
I don't think there would be any CI tools for us to use since our build involves using Excel and using CodeExport. Unless we created a custom solution, but that seems too much.

[2017-01-31 05:50] spences10 commented on #7
It's msforms in the immediate

On Tue, 31 Jan 2017, 04:06 Matthew Palermo, <notifications@github.com>
wrote:

--
Regards,
Scott Spence
07960 86 3382

[2017-02-02 05:27] mattpalermo opened #44 "'Releases' and 'Closed pull requests' shields are not working as they should"
Great work ok the shields @spences10. They look good, but it seems there is a couple of problems to be fixed.

The numbers shown are not the correct numbers. Maybe there is permissions that need to be given shields.io for this to work? Also the 'releases' shield link should point to https://github.com/spences10/VBA-IDE-Code-Export/releases instead of https://github.com/spences10/VBA-IDE-Code-Expor

[2017-02-02 06:22] spences10 commented on #44
done, badges were derp 😢

[2017-02-02 06:22] #44 closed

[2017-02-02 22:37] mattpalermo commented on #7
I see what is happening now. The solution is to add "MSForms" to the "blacklist" here: https://github.com/spences10/VBA-IDE-Code-Export/blob/6eedda7a7b11e0525f80ceb742b2899b39a4c0fe/modImportExport.bas#L91

I'll get onto this sometime today.

[2017-02-03 00:39] mattpalermo opened #45 "New empty line added to worksheet modules after import then export"
The new empty line is added to the end of the module regardless of if there is already an empty line at the end of the file.

This seems similar to issue #22 but should be a lot simpler to fix.

[2017-02-03 13:08] mattpalermo commented on #7
PR #46 should fix this problem. The PR was pulled into the dev branch. It solved the problem for me and I think it will solve your problem as well. You may have to manually delete the MSForms entry from the configuration file.

[2017-02-10 05:51] mattpalermo opened #49 "Update Repo Description"
The current repo description is: "Export VBA code from the VBA IDE using the VBComponent class".

I think this should be updated to better summarise the utility of the tool. I think the mention of the VBComponent class is not of immediate interest to a user glancing at the repo trying to determine what the utility can do for them.

Perhaps something like: "Export & Import VBA code. Use Git (or any

[2017-02-10 06:06] spences10 commented on #49
That was the first thing that went into the project, no README so I wanted to make it as descriptive as possible.

[2017-02-10 06:08] spences10 commented on #49
Changed it, take a look, or change it yourself @mattpalermo what do you think?

[2017-02-10 06:16] mattpalermo commented on #49
Beautiful :) I totally understand, it wasn't too bad to start with, I am just looking to improve visibility and documentation, and this was an easy target. I don't think I can change it myself. I don't have an "edit" link next to the description or the tags.

[2017-02-10 06:16] #49 closed

[2017-02-10 06:26] spences10 commented on #49
Really? That's odd, so you can change all the code within but not the title? Strange.

[2017-02-10 06:28] spences10 opened #50 "Tidy file structure"
If the majority of the code for this was in a `src` folder then the README would get more visibility.

@mattpalermo have you thought any more about how to build the add-in?

[2017-02-10 06:29] mattpalermo commented on #49
I also don't have the settings page, which is kind of expected.

...The title must be a sensitive topic xD

[2017-02-10 06:42] mattpalermo commented on #50
I like this. This is how I do it on some other projects. The `Base Path` property can be set to `"src"` in the `CodeExport.config.json` file to achieve this.

As for the build, no I haven't. I am still experimenting with different things. For another project, my workflow is, for development, I just open the workbook and import the VBA code. Then when I want to release a new version I do two things

[2017-02-10 08:49] spences10 commented on #49
I notice it comes up on the hover over the link

[2017-02-10 08:54] mattpalermo commented on #49
The world through my eyes (my cursor is over the title but windows thought it would be a great idea to remove my cursor from the screenshot):
![screenshot 6](https://cloud.githubusercontent.com/assets/16647352/22820371/20af54fa-efc2-11e6-9ff6-ab858b1f6a0c.png)

[2017-02-10 08:56] spences10 commented on #50
I tried before with a [PowerShell script](https://github.com/spences10/VBA-IDE-Code-Export/commit/4dcd0b63448d6bb65f6d62898b458f2d8d5a0e4c) file so all you have to do is run one file but it was ugly and I discovered that if you didn't have the right permissions [like if you're in a corporate environment] then the script is useless so I scrapped it pretty early on.

Looking at it now it's a pretty

[2017-02-10 09:00] spences10 commented on #49
Here is where I noticed it, on the traffic tab.

![image](https://cloud.githubusercontent.com/assets/234708/22820571/3edc7d70-ef6f-11e6-9964-82829da57443.png)

Please excuse all the tabs, yes I'm one of those people :+1:

[2017-02-10 09:02] mattpalermo commented on #50
Yea, same, that's why I think not having to build the add-in at all is the way to go for the user. Just go to the download link, grab it and go. That's also why I'd like to implement issue #28 at some point.

Wow, I really like how simple it is to use Excel from PowerShell (I've never touched powershell before). What part couldn't be used in the corporate env?

[2017-02-10 09:10] spences10 commented on #50
You need to be admin to run a PS script off of the network/local storage I think, the thing was if you copy pasta the script into `PowerShell ISE` you could run it, I think, can't recall exactly.

[2017-02-10 09:12] spences10 commented on #27
So, should we mention the releases on the README?

[2017-02-10 09:19] mattpalermo commented on #50
Oh yes, I remember when I took that PowerShell BS to the knee once. Haha. Well you could make the same script in C# (or VB.NET). In fact, if you wanted to take it further you could mirror the functionality of the Excel Add-In in a .NET command line tool so that you could do your importing and exporting from the command line. That was my intention for effoff but maybe that should just be a part of

[2017-02-10 09:30] spences10 commented on #50
Hmmm, how would `effoff` be installed by the user? Would it go in the project folder? Do we make an organisation for the two to go under?? I don't know mate :thinking:

[2017-02-10 09:32] mattpalermo commented on #50
All good ideas. I like the installation method, since I can't figure out how to create a standalone executable.

[2017-02-10 09:33] spences10 commented on #50
`VBScript` yo!

http://stackoverflow.com/a/31186714/1138354

So, have everything in the `src` folder with this `buildProject.vbs` file and :tada:

[2017-02-10 09:41] mattpalermo commented on #50
Can you use .NET libraries from vb.script? I am wondering how we could inject the CustomUI.xml into the workbook in a vb.script environment.

[2017-02-10 09:45] spences10 commented on #50
Good point, I do not know :confused:

Why isn't there one thing that does all the things, gah!!

[2017-02-10 10:00] mattpalermo commented on #50
Haha, don't fret, give this a try: https://github.com/mattpalermo/effoff/releases/tag/v0.1.1

[2017-02-10 10:47] mattpalermo commented on #27
I put a link in the Installing section. Should it be clearer?

[2017-02-10 10:50] spences10 commented on #27
No, this is perfectly clear, I obviously didn't read the README! Ha!

[2017-02-10 10:50] mattpalermo commented on #49
That's pretty cool. I guess that's only a taste of what a full [reddit hug of death](http://www.urbandictionary.com/define.php?term=reddit%20hug%20of%20death) is like.

[2017-02-15 05:02] mattpalermo opened #51 "Syntax error in JSON configuration will raise an error"
and that error is not handled. Instead the crash prompt is invoked. The user should be prompted that there was a syntax error and they need to resolve this by editing the configuration file.

[2017-02-15 05:11] mattpalermo opened #52 "Cannot run import twice in a row"
An error occurs if I have a userform and I run import twice. Error number 60061.

[2017-02-15 10:37] spences10 commented on #52
So, as it is at the minute it'll just try to add the form back over the pre existing one if it's already in there

So, check to see if the form is there, delete it if so then import?

[2017-02-15 11:26] mattpalermo commented on #52
That sounds right. Have you had this problem before? This error surprised me a bit, I thought I had tried this before.

[2017-02-15 11:38] spences10 commented on #52
Maybe we could add this along with the change for 'validate everything is exported before deleting stuff' change.

There is an issue for that isn't there @mattpalermo? I'll add it if there isn't, that's quite an important change that.

[2017-02-15 11:45] mattpalermo commented on #52
I think you're looking for issue #30. I think that issue #52 is a different topic since it is a problem with the ability to import a user form. Issue #30 seems more about the order that the export task is done.

[2017-02-21 01:16] #7 closed

[2017-02-21 01:41] mattpalermo commented on #22
Thoughts about implementation:
The whitespace is added between the attributes and the rest of the code. The attributes "header" seems quite different from the rest of VBA syntax so it seems possible that we could identify the end of the attributes section automatically and simply remove whitelines before the first non-whiteline.

This could be part of a grander "formatting" code which also removes

[2017-02-21 01:45] mattpalermo commented on #28
Notes from the other day:
When trying to get EffOff to install on @spences10's work machine, the WiX installer failed at the task. The Inno installer managed perfectly.

[2017-02-21 03:14] mattpalermo opened #53 "Code "formatter" to fix whitespace issues"
There are a few different "whitespace errors" that are introduced to the VBA when the code is imported (and exported?). Issues #22 and #45 are two of these whitespace errors.

I have also recently experienced a whitespace error where a trailing space will be added to line 2 of a form module. This is the line that looks like this:

[code]

To solve these problems, the code should be run through a "

[2017-02-21 03:31] mattpalermo opened #54 "Ribbon UI"
A ribbon UI which can be used to invoke the actions of CodeExport (import, export, etc) would be very helpful to the UX. Opening the VBE to get at the CodeExport menu is sometimes just too much work. Plus the Ribbon UI is quite stable, pretty, easy to find and easy to use.

To implement this, we could just use one of the tools already available to inject CustomUI.xml into an Excel workbook. Then w

[2017-02-21 03:35] mattpalermo opened #55 "CustomUI.xml (Ribbon UI) injection"
The CustomUI.xml is another component of the workbook that is very well suited to being stored as a text file instead of being bundled into the workbook binary. To achieve this I can think of two different solutions:

1. Use a tool like EffOff in the build process to inject the CustomUI.xml every time the workbook is built.
2. Unpack the workbook into a decompressed stack of XML files. The CustomU

[2017-02-21 03:47] mattpalermo opened #56 "Command line interface"
A command line interface for CodeExport could be useful to build and open a workbook straight from the command line with a few keystrokes. For example, in your working directory, you may be able to type a command:

[code]

which would open the workbook and run the CodeExport import command. This would allows for a much faster workflow, especially if there is actions that need to be taken before op

[2017-02-21 03:56] mattpalermo opened #57 "Store Excel workbooks as Unpacked stack of XML files"
It may be useful to store Excel workbooks in their unpacked form which is a directory of XML files. This has been done before in VBADeveloper and OoXmlUnpack. From observation of those projects, it seems that this may lead to more efficient storage in VCS and might help with diffing different versions of workbooks.

OoXmlUnpack has achieved this very well. It not only decompresses the workbook zip

[2017-02-21 11:58] spences10 commented on #57
This is how [Cluster 7](http://clusterseven.com/) works for their software, from talking to them the other day I found that they 'decompile' the workbook into their XML format add it to MS SQL Server and diff them

Exactly how they make it a nice readable format is probably why they're and enterprise company charging financial institutions to use the software :+1:

So I could include this in a PR

[2017-02-21 12:00] spences10 commented on #56
I'm currently looking at:

1. Change file extension
2. Save as `.zip`
3. Unzip file
4. make unicorns!
5. Zip
6. Re-packed Excel with ribbon UI

I found this [ribboneditor](http://www.andypope.info/vba/ribboneditor.htm) that generates the XML you need to create a ribbon item

Is this CLI going to circumvent this work? I have done steps 1-3 currently

[2017-02-21 12:04] spences10 commented on #57
So I could include this in a PR
https://github.com/spences10/VBA-IDE-Code-Export/issues/56#issuecomment-281324599

[2017-02-21 12:17] spences10 commented on #28
I tried on another machine with the `effoff VBA-IDE-Code-Export.xlsm` command and got the following output

[code]

[2017-02-21 21:25] mattpalermo commented on #28
@spences10 this is simply a bug with EffOff. It has to do with the fact that it wants there to be a "CustomUI" property in the `CodeExport.config.json` file.

[2017-02-21 21:39] mattpalermo commented on #56
Nice, I look forward to it seeing how it goes.

Nice, seems like a convenient way to generate the xml.

I imagine the CLI to serve a few different purposes. In many cases it will simply be another 'interface' from which the existing CodeExport functionality will be called. So, as long as your solution solves its target problem in a user friendly way, I don't think there is a problem.

I am curious

[2017-02-21 21:41] mattpalermo commented on #56
It seems your current work will help with issues #57 and #55.

[2017-02-21 21:44] mattpalermo commented on #57
Perhaps you could push your work to feature branch while your working on it?

[2017-02-21 21:46] mattpalermo commented on #55
As a reference, this is the code that EffOff uses to achieve CustomUI injection:

[code]

[2017-02-21 21:50] mattpalermo commented on #57
Yea, probably took them a lot of work. Perhaps we'll find a way as well.

[2017-02-23 08:00] mattpalermo commented on #55
Perhaps this idea should be canned in favor of the method presented in PR #59

[2017-02-23 11:25] spences10 commented on #50
Resolved with #58

[2017-02-23 11:25] #50 closed

[2017-02-23 11:26] spences10 commented on #54
Resolved with #59

[2017-02-23 14:51] spences10 commented on #57
Branch `unpack-to-xml` created for this, will submit PR to close this.

As a result of this the `RibbonUI` will need to be changed as well!! :scream_cat: the options will have to

~1. Save as decompiled XML?~
~2. Create binary from XML??~

1. Save as XML?
2. Make from XML??

Well, whatever sounds like the best option we'll go with that, I guess

Right?

[2017-02-23 16:11] spences10 commented on #57
Basis of the code here:

https://gist.github.com/spences10/487a57ccb26ff894aa9acac2fe684435

Will need to incorporate into CodeExport

[2017-02-23 22:04] mattpalermo opened #63 "README Improvements"
Nice work on the README @spences10. It is easy to read and the instructions are very specific. Loving the table of contents as well! I have a few thoughts about further improvements that could be made:

- [x] Move the Usage section above the Build section. Hopefully most users won't need to build the add-in, but will instead just install and go!

- [x] GIFs for the Usage section? I'm not sure if i

[2017-02-23 23:28] mattpalermo opened #64 "Keep a changelog"
I have recently been using this guide lately to keep a clear record of changes: http://keepachangelog.com/en/0.3.0/

It seems to be fairly easy to do. What do you think about it @spences10? Would make for a nice professional touch.

The only non-trivial thing about it would be the release date. I suppose we can just agree to use AEST... I joke, UTC time.

[2017-02-23 23:50] mattpalermo commented on #63
Just remembered this after creating the release:

- [ ] To the build instructions, add a suggestion to set a VBA Project protection password. This stops the add-in from becoming a nuisance in the VBE.

[2017-02-24 01:02] mattpalermo opened #66 "Test and example workbooks"
It would be nice to make up a few "example/test" projects (they can be stored in a subdirectory of this repo). Each mini project can have a description instructing how CodeExport is used in that situation. This would serve two purposes:

1. It will serve as an example of the features of CodeExport and how to use it.
2. It will serve as documented test cases. At the moment when I want to test a bui

[2017-02-24 06:01] spences10 commented on #64
😄 yeah, UTC mate 👍

Where would the log go? OOOO theres a BADGE!!

Ok, just read the README! Ha! I'll take a look at doing it late today, maybe, I have a ruby environment already set up for my gh pages blog

[2017-02-24 06:02] spences10 commented on #64
Doh! 06:00 and I hit the close and comment button!!! Sorry, I really should just use the keyboard shortcuts!!

[2017-02-24 06:04] spences10 commented on #66
This is great, I'm the same for testing so this will be really handy

[2017-02-24 10:51] spences10 commented on #64
Well that could have gone better!

[code]

[2017-02-24 13:26] spences10 commented on #64
Set up a machine with this and am just confused as to what to do with it??

There's no config to point it to the CodeExport repo when you

[code]

It tries to push it back to the source GitHub repo, I'm so confused

Here's the env if you think you can do anything with it let me know @mattpalermo

[https://ide.c9.io/spences10/code-export-changelog](https://ide.c9.io/spences10/code-export-changelog)

[2017-02-26 07:23] spences10 opened #68 "Build a wiki"
So, we can use a wiki for when there's a bit more documentation than what should go in the README?

What do you think @mattpalermo

https://github.com/spences10/VBA-IDE-Code-Export/wiki

[2017-02-26 11:24] mattpalermo commented on #68
I am mostly a stranger to the Github wiki. Github's documentation certainly makes it clear that the wiki is targeted at exactly the use case that you described. I'm all for giving it a go 👍 .

[2017-02-26 11:42] spences10 commented on #68
Yeah, I have no experience with it either

I don't want to be repeating information that we have elsewhere as it could quickly become out of date if the releases/readme get updated without the wiki and vice versa

Maybe just point to the wiki for anything that can not be explained in a couple of paragraphs

[2017-02-26 11:45] mattpalermo commented on #64
Cloud9 wanted my credit card details just to look at your thing. That was mildly annoying so I quit for now. I am not sure what you are doing? I just thought we needed a file in the project directory named `CHANGELOG.md` that contained contents roughly following this example:

[code]

This document can be hyperlinked to from the README and release notes.

[2017-02-26 12:00] spences10 commented on #64
OHSHIT! Sorry buddy!! Some regions want your credit card information... forgot about that, I was reprimanded about that for my Twitter bot too! Apologies again...

[2017-02-26 12:05] mattpalermo commented on #68
We could keep on top of it by issuing github issues (and asking users to do the same) if any documentation was found to be out of date or incorrect.

[2017-02-28 10:00] spences10 commented on #66
@mattpalermo are you able to give details/documentation on what you think should go in there?

Example:

**Project1.xlsb**
[code]

**Project2.xlsb**
[code]

What needs to go into them for the tests? and why does there need to be more than one?

[2017-02-28 10:48] mattpalermo commented on #66
Thinking about the purpose of testing, we want to make sure that all the 'features' (or perhaps 'use cases') of CodeExport work as expected. An obvious way get started with this would be to create a 'comprehensive' project which uses as many 'features' as possible (e.g. forms, classes, modules, use basepath, use relative paths, use references).

For a more comprehensive integration test suite, we

[2017-02-28 11:01] spences10 commented on #68
Just looking at the source and this could be a good candidate for the release instructions #41

Also, possibly add instructions for building from source, currently it is all in the README

**off to Google!!**
[what-are-the-main-functionality-differences-between-github-wiki-and-readme](http://stackoverflow.com/questions/32430473/what-are-the-main-functionality-differences-between-github-wiki-and-re

[2017-02-28 12:43] spences10 commented on #28
Just fyi I found this: https://github.com/rubberduck203/VBEX/blob/master/Make.ps1

Again, there's some assumptions here #1 being that you should be admin on your machine to run it, this isn't an option for some users.

I'm not saying CodeExport is a breeze to set up but the instructions are such that you are walked through setup. If the PowerShell script fails for this you are left to pick through

[2017-03-02 07:27] mattpalermo commented on #28
Nice find! This seems like a good example of using development scripts for VBA.

I'm not sure about using a ps script for end user installation. An installer exe seems much more user friendly.

[2017-03-02 08:30] mattpalermo commented on #68
@spences10 I don't think it's something to worry about too much. What we have so far is good. Here is my thoughts:

* It is good to have documentation source code (e.g. md files and their assets) in the repo. Consider the benefit of documentation VCS. If the documentation requires rendering, then the rendered version should be available somewhere. For markdown files, the rendered HTML version is a

[2017-03-02 14:23] spences10 commented on #63
Hey @mattpalermo, so I have checked off the video as a 'won't fix', that ok?

The last two points I'm not clear on myself, are there instructions for this?

[2017-03-03 02:59] mattpalermo commented on #63
Thanks @spences10, I can take care of the last two points if you'd like and submit a PR for review.

[2017-03-03 11:01] spences10 commented on #63
Sure thing @mattpalermo I look forward to the PR

[2017-03-03 17:27] rubberduck203 commented on #22
We hit this bug in the Rubberduck project a while back. You may want to browse our source to see how we handled it. If you have trouble finding it, let me know and I'll lend a hand.

[2017-03-03 18:52] spences10 commented on #22
Hi @rubberduck203 thanks for taking a look, @mattpalermo I'll let you take a look at this one if you know what needs doing??

[2017-03-06 03:31] mattpalermo commented on #22
Thankyou @rubberduck203 for this. I'll definitely have a look.

[2017-03-06 05:25] mattpalermo opened #71 "Set VBAProject Name on Make Config File"
When Make Config File is run, the VBAProject Name property of the config file should be set to the current project name in the workbook.

[2017-03-06 09:55] spences10 commented on #66
Closing this with reference to PR #72

[2017-03-06 09:55] #66 closed

[2017-03-06 10:45] spences10 commented on #71
So I'm looking at `modImportExport.bas` and `Public Sub MakeConfigFile()` correct?

And from there I'm not sure where `prjActProj` should go...

`MakeConfigFile()` is a really nice looking peice of code @mattpalermo :+1:

[2017-03-06 10:47] spences10 commented on #68
Closing this

[2017-03-06 10:47] #68 closed

[2017-03-06 11:06] mattpalermo commented on #71
The `Config` object represents the configuration. This object (and the `clsConfiguration` class) has a `VBAProjectName` property that will get and set the configuration `VBAProject Name` for you. It's just a matter of putting `Config.VBAProjectName = ....` somewhere in the `MakeConfigFile` procedure.

Thankyou :) I am quite happy with how the separation of concerns between `modImportExport` and `c

[2017-03-06 11:11] #63 closed

[2017-03-06 11:15] #57 closed

[2017-03-06 21:05] mattpalermo commented on #41
Closed by PR #65

[2017-03-06 21:05] mattpalermo commented on #41
Closed by PR #65

[2017-03-06 21:05] #41 closed

[2017-03-06 22:10] mattpalermo commented on #57
👍 The only thing we don't have yet is automating the 'packing' process. That would be a great improvement I think.

[2017-03-07 06:49] spences10 commented on #57
I'll log the issue later today 👍

[2017-03-09 23:13] mattpalermo opened #75 "Recommend using .gitattributes, .editorconfig and .gitignore files"
These files can be found in the CodeExport project directory. The `.gitattributes` file is important for fixing bugs which arise in Excel due to using Unix style line terminations. The other files help in other less serious ways.

[2017-03-10 06:02] spences10 commented on #75
This is so that how to use then gets documented?

Bc I have no idea how to use editor config 🙃

[2017-03-10 09:24] mattpalermo commented on #75
I don't think the developer even needs to know much about them. At the very least, they just need to know that it will make things work smoother. Editor config is quite simple. Any decent, modern text editor will automatically see the file and adjust its behaviour accordingly. I use the Atom text editor and it works well for me.

[2017-03-10 09:40] spences10 commented on #75
VS Code here, :heart: it  :+1:

[2017-03-10 10:04] mattpalermo commented on #75
Nice! I remember now, I saw some VBA language plugin for vs code on your
github. I've heard good things about it. I'll try it out one day.

On 10 Mar 2017 7:40 PM, "Scott Spence" <notifications@github.com> wrote:

[2017-03-10 10:15] spences10 commented on #75
Yeah I had a play around with making some snippets and then syntax highlighting and then some icons for the editor:

**syntax highlighting**
[https://github.com/spences10/vscode-vba](https://github.com/spences10/vscode-vba)

**snippets**
[https://github.com/spences10/vba-snippets](https://github.com/spences10/vba-snippets)

**icons**
[https://github.com/spences10/vscode-vba-icons](https://github.c

[2017-03-13 14:13] spences10 opened #76 "XML to Excel"
Make Excel out of XML

Considerations:

- What type of Excel is is being made into

[2017-03-15 10:48] spences10 opened #77 "`Add References` clearly detailed in the code"
@mattpalermo I'm not sure if this is taken care of anywhere already **but**

Here's my experience, have the source code somewhere on your machine, go to build the add-in, so for me I know how to build the Excel `.xlsm` from the source then add the modules all groovy, then I compile...

I know that there are some refs need adding and I could just go through and hit compile and add in the references

[2017-03-16 20:46] TheWirtschaftsmann opened #78 "Deletion of macros' components after export of code"
Hi @spences10 ,

I'm trying to experiment with code export functionality and I'm facing some strange behavior. I've created a test macro with simple user form. I've generated a config file and exported the code. As it seems the code is intact, however when I check my Excel file afterwards, all macro components (i.e. form, module) were deleted. Is that intended behavior or I missed something?

![im

[2017-03-16 21:07] spences10 commented on #78
Yes my friend that is intentional

The idea is that the code is exported for use in a VCS system like GitHub

You can import the code again once you have exported it 👍

If you look in the folder where the Workbook `vbaGIT.xlsm` is located you should see the exported files 🤓

[2017-03-17 07:05] TheWirtschaftsmann commented on #78
Yes, when I take a look in the folder, all source files are right there. But what I do not understand why is it needed to delete them from Excel book? That's what I want to know as well as if it would be possible to change that. It seems like an extra and IMHO a bit annoying step (or maybe I'm just a bit too lazy:).

Let's suppose I have a macro - I've did some modifications, pressed Export button

[2017-03-17 07:42] mattpalermo commented on #78
If I may add to @spences10's explaination:

If you intend to commit both the exported VBA code and the Excel file to a version control system like github, it works best if information is *not* duplicated. Firstly, just imagine the pain of making sure it is always in sync! Secondly, think about what having the VBA code stored in text format affords you. With VBA stored as text, you can merge differ

[2017-03-17 07:51] mattpalermo commented on #77
Good points. Easier the better. I think it's a bit weird to put it in an arbitrary module. Think about what happens when that module is no longer the first to show up. Have you considered creating an empty module with the comments and naming it such that it will always appear first? I'm not sure if this is possible but if you name it something like "aaa_references" it might show up first.

[2017-03-17 10:42] spences10 commented on #78
Hi @TheWirtschaftsmann,

Has your question been answered here?

I think @mattpalermo has done a champion job of explaining this. :+1:

**TL;DR**

The code is extracted out of the workbook so that the code isn't duplicated.

The idea being that the workbook and the code are stored on a VCS

---

@mattpalermo I think #30 is a valid piece of work that needs to be done to reduce any data loss, #78 how

[2017-03-17 10:56] TheWirtschaftsmann commented on #78
Hi @spences10 , hi @mattpalermo ,

Thanks for explanations. It seems reasonable.

P.S. I've also tried to import back the source code into Excel, but for the moment, I cannot succeed with that. I'll tried a bit later again and if I won't be able to do it again, I'll open another issue with additional questions:)

[2017-03-17 10:56] #78 closed

[2017-03-17 11:32] spences10 commented on #78
@TheWirtschaftsmann ah, well that is a problem

Taking a look at your [repo](https://github.com/TheWirtschaftsmann/vbaGitTest) it looks like one of the modules are not listed in the `CodeExport.config.json` file, looks like `modTesting.bas` is not in there is that the module that is missing or where you are having issues?

Can I ask, as well, did you compile the add-in from source or just download

[2017-03-19 04:34] mattpalermo commented on #75
Yea, I think it does need to be documented. Probably the "Using" section of the README is the best place?

[2017-04-04 22:35] #28 closed

[2017-05-15 07:33] spences10 commented on #64
Hey @mattpalermo I have recently discovered [this](https://github.com/zeit/release)

Could help with the releases, will take a lot of the pain of manually keeping a change log

[2017-05-22 09:51] #64 closed

[2017-06-05 23:58] darkoverlordofdata opened #81 "Installer is missing"
I am trying to follow the instructions from the readme, but fail at step 1;

	1. [Download](https://github.com/spences10/VBA-IDE-Code-Export/releases) the
	   add-in installer (e.g. `CodeExport_setup_1.2.3.exe`)

There is no *.exe by any name in the release area or the archives therein.

[2017-06-06 00:57] mattpalermo commented on #81
Damn you're right. I must have forgot to upload the compiled files last release! You'll have to either compile from the source code or ask @spences10 nicely to upload some files :)

[2017-06-06 05:08] spences10 commented on #81
Say whaaaaaat!?

![giphy](https://cloud.githubusercontent.com/assets/234708/26814403/4baa7c64-4a7d-11e7-82d8-28deeba003c0.gif)

@mattpalermo do you have a `*.exe` kicking around? Otherwise I'll take this out and just stick with having a pre compiled `.xlam`

@darkoverlordofdata I think you'd be best off, lilke @mattpalermo says to compile from source if you're in a hurry 👍

[2017-06-06 16:02] darkoverlordofdata commented on #81
I downloaded the *.xlam from release and followed the instructions to build an exe. That works. Thanks.

[2017-06-06 16:02] #81 closed

[2017-07-03 07:29] mattpalermo commented on #81
@spences10 perhaps you will need to go back to the `xlam` if that is what you are comfortable with.

[2017-07-03 10:29] spences10 commented on #81
Hey @mattpalermo, hows things buddy?

Lost a load of momentum with this recently, time to pick things up again!!

Trying to recall the reasoning behind having an installer now over just using the BLOB?

[2017-07-31 18:48] byronwall commented on #55
One way to do this: https://github.com/byronwall/bUTL/blob/master/scripts/BuildFile.bas

I've been working on an Excel utility add-in that includes a "build from source" option to help with getting source back into git.  It roughly duplicates your efforts here but includes the steps to export the Ribbon definition since it's a core part of the add-in.  I took the 2nd approach listed above: extract

[2017-07-31 21:30] spences10 commented on #55
Awesome @byronwall!  do you have to call it from PS?

[2017-07-31 21:48] byronwall commented on #55
No, you can make the calls from anywhere.  That source code file is pulled from the VBA in `build manager.xlsm`.  The paths in that workbook/macro are currently relative to how the repo is setup, but those could be easily changed or made variable.  Look for the spots where it says `butl.xlam`, `temp.zip`, `src/...`, etc.  That code handles both the import and export of the source code and Excel fi

[2017-09-13 13:24] spences10 opened #82 "File type check before Excel to XML"
Discovered this trying to use the `Excel to XML` button on the on an old Excel 2003 workbook.

There's no check on the file type/extension to determine if the add-in can turn the workbook from the BLOB to the zip file.

[2019-06-14 09:14] Enissay opened #85 "Error 57101 - Can't remove default reference"
Hi all,

I'm a new user of this add-in but I keep getting this error for both import and export:

![error message](https://i.imgur.com/4Oq1lxj.png)

"No" will close the windows and "Yes" will make it show up again!

The fact is that both functionalities do work, and since I'm new to the tool, I can't know which part is broken/missing due to this error.

Please advise :-)

**Edit:**
One detail to a

[2019-07-02 13:26] #85 closed

[2020-01-10 22:00] retailcoder commented on #22
Not sure if it's still relevant, but this is the relevant code in Rubberduck:

https://github.com/rubberduck-vba/Rubberduck/blob/2b341dd15605cbca037f3d5f7c50ef83fedc7c3b/Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBComponents.cs#L133-L150

Note that this creates another problem - member attributes get wiped out, since the module isn't really imported, but re-written. You'll need another mechanism